.header{
    margin-top: 60px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Playfair Display', serif;
    color: #585757;
}

.headerTitleSm{
    position: absolute;
    top: 16%;
    font-size: 20px;
}

.headerTitleLg{
    /* position: center;
    top: 18.5%; */
    text-align: center;
    font-size: 100px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

.headerImg{
    width: 97%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
    padding: 0px 20px 20px 20px;
    border-radius: 25px;
}